################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/Vulkan Vol2/Debug
/Vulkan Vol2/Release
/Vulkan Vol2/x64/Debug
/Vulkan Vol2/x64/Release
/x64
/.vs/Vulkan Vol2/v15
